fieldset {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
   }
   legend {
    font-weight: bold;
    color: #007bff;
   }
   
   label {
    margin-bottom: 8px;
    font-weight: bold;
   }

   [type="text"], select, textarea, [type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }

   input[type="radio"] {
    margin-right: 5px;
   }

   [type="submit"], input[type="reset"]{
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
   }

   input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
}
